*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 1px;
}
#nav{
    height: 10vh;
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:2px solid black ;
    border-bottom: 2px solid  black;
}
#nav h1{
    /* background-color: #206b7d; */
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: -2px;
    font-family: monument;
    position: relative;
 }
#nav h1::after{
    content: "©️";
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    position: absolute;
    top: 15%;
    right: 8%;
}
#nav h1::before{
    content: "model managment";
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
   bottom: 12%;
    right: 12%;
    letter-spacing: 1px;
}

#nav h2{
/* background-color: #206b7d; */
height: 100%;
width: 20%;
display: flex;
align-items: center;
justify-content: center;
border-right: 2px solid black;
font-size: 20px;
font-weight: 500;
/* background-color: red; */
}
#nav h2 :nth-last-child(1){
    width: 10%;
    
}
#nav h2 :nth-last-child(2){
    width: 29%;
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 5vh;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #f8f8f8;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3.6vw;
}
#over1 h2{
    /* background-color: aqua; */
    font-size: 2vw 2.4vw;
    padding: 20px 21px; 
    border-radius: 50%;
    border: 1px solid white;
    border-bottom: 4px solid white ;
}
#over2 h4{
    border-top: 2px solid #f8f8f8;
    padding-top: 10px;
    font-weight: 500;
  }
#scroll{
    height: 40vh;
    width: 100%;
/* background-color: red; */
white-space: nowrap;
 overflow-x: hidden;
overflow-y: hidden;

}
#container{
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding-top: 1vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
#scroll img{
    height: 90%;
    border-radius: 50%;
    width: 14.6%;
    object-fit: cover;
    object-position: 30% 30%;
    margin: 1vw;

}
@keyframes anime{
    form{
         transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 10vh;
    width: 100%;
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    gap: 2vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-size: 30px;
    /* background-color: rebeccapurple; */
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
}

#alphabet h6{
    font-size: 15px;
    /* background-color: rebeccapurple; */
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /* background-color: yellowgreen; */
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;    
    border: 2px solid #00000000;
}
#alphabet h6:hover{
    border: 2px solid black;  
}


#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5vw;
}
#page2-part1{
    height: 85%;
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1583766395091-2eb9994ed094?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

    
    
}
#page2-part2{
    height:100%;
    width: 33%;

}
#page2-part2 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
} 
#page2-part2 h4{
    /* background-color: blue; */
    justify-content: center;
    
}
#page3{
    width: 100%;
    /* height: 100%; */
    /* background-color:rebeccapurple ; */
    position: relative;
    padding: 2vw 3vw;
}
#page3>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 6vh;
}
.elem{
    height: 14vh;
    width: 100%;
    /* background-color: aqua; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    
}
.elem img{
width: 100px;
 height: 100px;
border-radius: 50%;
 position: absolute;
 left: 15%;
 opacity: 0;
 transition: all ease 0.7s;

}

.elem h4{
    font-size: 1.1vw;
    /* background-color: rebeccapurple; */
    width: 6%;
    text-transform: uppercase;
}
#elempart2{
    /* background-color: rebeccapurple; */
    width: 50%;
}
#elempart2 h1{
    /* background-color: antiquewhite; */
    font-size: 2.7vw;
    font-weight: 100;
    text-transform: capitalize;
}
#elempart2 h5{
    /* background-color: antiquewhite; */
    font-size: 0.8vw;
    font-weight: 100;
    text-transform: uppercase;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem:hover img{
opacity: 1;
left: 24%;
}
#grid-container{
    width: 100%;
    height: 107%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
    padding: 2vh 4vw;
    padding-top: 14vh;
}
.grid-item1{
    /* background-color: blueviolet; */
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 2px solid black; */
    background-position: center;
    background-size: cover;
}

.grid-item{
    /* background-color: blue; */
    width: 85%;
    height: 85vh;

}
.grid-h1{
    height: 40vh;

}
.grid-h1 h1{
    font-size: 30px;
    font-family: monument;
    background-color: yellow;
    width: 20vw;    
    text-align: center;
    border-radius: 7px;
    border: 2px solid black;
    
}
.grid-h1 h4{
    padding-top: 4%;
    font-family: sans-serif;

}
.grid-h1 p{
    /* background-color: aqua; */
    padding-top: 8%;
    justify-content: center;
    color: brown;
}

.photo-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    width: 70%;
    

}
.photo-grid-item{
    height: 45vh;
}
#marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: rebeccapurple; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.5vw;
    background-color: rgb(234, 223, 234);
}
#marque h1{
    display: inline-block;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(76, 70, 70);
    color: transparent;
    font-family: monument;
    /* background-color: red; */
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#footer{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    padding-top: 30px;
    padding-left: 2vw;
    padding-right: 2vw;

}
#footer-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 52vh;
    /* background-color: blue; */

}
#foorteritem2 img{
    background-size: cover;
    height: 50vh;
    width: 40vw;
    padding-top: 20px;
}
#foorteritem2 h4{
    color: black;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#foorteritem3 img{
    background-size: cover;
    height: 50vh;
    width: 30vw;
    padding-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
#foorteritem3 h4{
    color: black    ;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#foorteritem1 h1{
    background-color:wheat ;
    text-transform: uppercase;
    font-family: monument;
    text-align: center;
    background-color: rgb(255, 219, 127);
    padding: 2px 10px;
    border-radius: 3px;
    
}

    
